.list-view {
  margin: 5px;
  padding: 5px;
  padding-left: 5px;
  // border: 2px;
  // border-style: solid;
}
.form {
  text-align: center;
  margin: 5px;
  padding: 5px;
  padding-left: 5px;
  width: 100%;
}
