<div class="list-view">
  <div *ngFor="let brief of briefs; let i = index" class="list-group">
    <p class="list-group-item list-group-item-action">
      <span style="float:left">
        {{ i }} :
        <label
          ><b>{{ brief.question }}</b></label
        ><br />
        <span>-> {{ brief.answer }}</span>
      </span>
      <span style="float:right"
        ><button
          type="button"
          class="btn btn-danger"
          (click)="removeQues(brief.id)"
        >
          Remove
        </button>
      </span>
    </p>
  </div>
</div>
<div class="form">
  <label for="date">Add new Brief</label>
  <hr />
  <form (submit)="addBrief($event)">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Question:</span>
      </div>
      <textarea
        class="form-control"
        aria-label="With textarea"
        id="question"
      ></textarea>
    </div>
    <br />

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Answer:</span>
      </div>
      <textarea
        class="form-control"
        aria-label="With textarea"
        id="answer"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-dark">
      Add
    </button>
  </form>
</div>
