<nav class=" nav navbar navbar-dark bg-dark navbar-center">
  <p class="navbar-brand mb-0 h1">Online Examination System</p>
</nav>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card" (click)="addDate()">
          <div class="card-body">
            Add Date
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card" (click)="addTime()">
          <div class="card-body">
            Add Time
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card" (click)="addStud()">
          <div class="card-body">
            Add Students
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card" (click)="addQues()">
          <div class="card-body">
            Add Questions
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card" (click)="assess()">
          <div class="card-body">
            Assess
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card" (click)="results()">
          <div class="card-body">
            Results
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
