<nav class=" nav navbar navbar-dark bg-dark ">
  <div class="navbar-brand" style="width:100%;">
    <span class="alignleft"
      ><button (click)="backHome()" class="back-button">Home</button></span
    >
    <span class="aligncenter">Online Examination System</span>
  </div>
</nav>
<div style="width:100%;text-align:center;">
  Exam id: <span style="color:red;"> {{ examid }}</span>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card" (click)="addDate()">
          <div class="card-body">
            Add Date and Time
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card" (click)="addStud()">
          <div class="card-body">
            Add Students
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card" (click)="addQues()">
          <div class="card-body">
            Add Questions
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card" (click)="assess()">
          <div class="card-body">
            Assess
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="card" (click)="results()">
          <div class="card-body">
            Results
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
