<nav class=" nav navbar navbar-dark bg-dark ">
  <div class="navbar-brand" style="width:100%;">
    <span class="alignleft"
      ><button (click)="backBut()" class="back-button">Back</button></span
    >
    <span class="aligncenter">Add Date and Time</span>
  </div>
</nav>
<div class="list-view" *ngIf="!isLoading">
  <div *ngFor="let date of dates; let i = index" class="list-group">
    <p class="list-group-item list-group-item-action">
      <span style="float:left">
        {{ date.date }} : {{ date.timefrom }} - {{ date.timeto }}</span
      >
      <span style="float:right"
        ><button
          type="button"
          class="btn btn-danger"
          (click)="removeQues(brief.id)"
        >
          Remove
        </button>
      </span>
    </p>
  </div>
</div>
<div
  *ngIf="isLoading"
  style="width:100%;display: flex;align-items: center;justify-content: center;"
>
  <mat-spinner color="#383838"></mat-spinner>
</div>
<div class="form-date">
  <label for="date">Add new Date and Time</label>
  <hr />
  <form (submit)="addDate($event)">
    <!-- <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Date and Time:</span>
      </div>
      <input
        [owlDateTimeTrigger]="dt"
        [owlDateTime]="dt"
        [(ngModel)]="datetime"
        id="datetime"
        [min]="datetime"
        hour12Timer="true"
        class="form-control"
      />
      <owl-date-time
        #dt
        [startAt]="datetime"
        hour12Timer="false"
      ></owl-date-time>
      <br />
    </div> -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Date and Time:</span>
      </div>
      <input
        placeholder="Date"
        [(ngModel)]="datetime"
        [owlDateTimeTrigger]="dt1"
        [owlDateTime]="dt1"
        id="date"
        [min]="datetime"
        class="form-control"
      />
      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Time from:</span>
      </div>
      <input
        placeholder="Time from"
        [(ngModel)]="min"
        class="form-control"
        id="timefrom"
        [min]="min"
        [owlDateTimeTrigger]="dt2"
        [owlDateTime]="dt2"
      />
      <owl-date-time
        [pickerType]="'timer'"
        hour12Timer="true"
        #dt2
      ></owl-date-time>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Time to:</span>
      </div>
      <input
        placeholder="Time to"
        [(ngModel)]="min"
        class="form-control"
        id="timeto"
        [min]="min"
        [owlDateTimeTrigger]="dt3"
        [owlDateTime]="dt3"
      />
      <owl-date-time
        [pickerType]="'timer'"
        hour12Timer="true"
        #dt3
      ></owl-date-time>
    </div>
    <!-- <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Date:</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="date"
        aria-describedby="basic-addon3"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Time from:</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="timefrom"
        aria-describedby="basic-addon3"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Time to:</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="timeto"
        aria-describedby="basic-addon3"
      />
    </div> -->

    <button type="submit" class="btn btn-dark">
      Add Date
    </button>
  </form>
</div>
<app-alerts></app-alerts>
