<div class="list-view">
  <div *ngFor="let mcq of mcqs; let i = index" class="list-group">
    <p class="list-group-item list-group-item-action">
      <span style="float:left">
        {{ i }} :
        <label
          ><b>{{ mcq.question }}</b></label
        ><br />
        <span>-> {{ mcq.op1 }}</span>
        <br />
        <span>-> {{ mcq.op2 }}</span>
        <br />
        <span>-> {{ mcq.op3 }}</span>
        <br />
        <span>-> {{ mcq.op4 }}</span>
      </span>
      <span style="float:right"
        ><button
          type="button"
          class="btn btn-danger"
          (click)="removeQues(brief.id)"
        >
          Remove
        </button>
      </span>
    </p>
  </div>
</div>
<div class="form">
  <label for="date">Add new MCQ</label>
  <hr />
  <form (submit)="addMcq($event)">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Questions:</span>
      </div>
      <textarea
        class="form-control"
        aria-label="With textarea"
        id="question"
      ></textarea>
    </div>
    <br />
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Option 1:</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="op1"
        aria-describedby="basic-addon3"
      />
    </div>
    <br />
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Option 2:</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="op2"
        aria-describedby="basic-addon3"
      />
    </div>
    <br />
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Option 3:</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="op3"
        aria-describedby="basic-addon3"
      />
    </div>
    <br />
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Option 4:</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="op4"
        aria-describedby="basic-addon3"
      />
    </div>
    <button type="submit" class="btn btn-dark">
      Add
    </button>
  </form>
</div>
