<div *ngFor="let item of brief">
  <div class="card" style="margin:10px;">
    <div class="card-body">
      <span style="float:left">
        {{ item.question }} <br />
        {{ item.answer }}
        <br />
        {{ item.gans }}
      </span>
      <span style="float:right">
        {{ item.marks }}
        <br />
        <form (submit)="submitbrief($event, item)">
          <input
            type="number"
            class="form-control"
            placeholder="Enter Marks"
            max="{{ item.marks }}"
            maxlength="3"
            required
            id="marks"
          />
          <br />
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </span>
    </div>
  </div>
</div>
<div
  *ngIf="isLoading"
  style="width:100%;display: flex;align-items: center;justify-content: center;"
>
  <mat-spinner color="#383838"></mat-spinner>
</div>
<app-alerts></app-alerts>
