<nav class=" nav navbar navbar-dark bg-dark navbar-center">
  <p class="navbar-brand mb-0 h1">Online Examination System</p>
</nav>
<div class="details-container card">
  <p>Name:Shekar</p>
  <p>Designation:desig</p>
  <p>Organization:org</p>
</div>
<div class="examtitle ">
  <p class="lead">Exam List</p>
</div>
<div class="list-view list-group">
  <div *ngFor="let ex of exam; let i = index" (click)="clicked(ex)">
    <p class="list-group-item list-group-item-action">
      {{ ex.title }}
    </p>
  </div>
</div>
<div class="addbutton">
  <button type="button" class="btn btn-dark" (click)="btnclick()">
    Add Exam
  </button>
</div>
