<nav class=" nav navbar navbar-dark bg-dark navbar-center">
  <p class="navbar-brand mb-0 h1">Online Examination System</p>
</nav>
<div class="details-container card">
  <p>Email:{{ user.email }}</p>
  <p>Designation:{{ user.desig }}</p>
  <p>Organization:{{ user.org }}</p>
</div>
<div class="examtitle ">
  <p class="lead">Exam List</p>
</div>
<div class="list-view list-group">
  <div *ngFor="let ex of exam; let i = index" (click)="clicked(ex)">
    <p class="list-group-item list-group-item-action">
      {{ ex.exam }}
    </p>
  </div>
</div>
<div class="addbutton">
  <form (submit)="btnclick($event)">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Exam Name:</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="name"
        aria-describedby="basic-addon3"
      />
    </div>

    <button type="submit" class="btn btn-dark">
      Add Exam
    </button>
  </form>
</div>
<app-alerts></app-alerts>
